<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
    
  <connectionStrings>
    <add name="myConnection" connectionString="Data Source=mssql-32433-0.cloudclusters.net,32433;Initial Catalog=LMS;User ID=QcuLmsR;Password=Qculms123" providerName="System.Data.SqlClient"/>
  
    <add name="myConnection1" connectionString="Data Source=mssql-36002-0.cloudclusters.net,36002;Initial Catalog=LMS;User ID=IT-R;Password=Qculms1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
